# Web Scraping Homework - Mission to Mars

In [1]:
# Set up and Import Dependencies
# -------------------------------------------------

import pandas as pd
import pymongo
import requests
import os
import time

from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager

## Step 1 - Scraping

* Complete your initial scraping using Jupyter Notebook, BeautifulSoup, Pandas, and Requests/Splinter. Create a Jupyter Notebook file called mission_to_mars.ipynb and use this to complete all of your scraping and analysis tasks. The following outlines what you need to scrape.

In [2]:
# Setup splinter
# -------------------------------------------------
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\alysh\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

## NASA Mars News

* Scrape the Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [3]:
# URL of page to be scraped
# # -------------------------------------------------
url = ('https://redplanetscience.com/')
browser.visit(url)

soup = bs(browser.html, 'html.parser')

In [4]:
#Collect News titles from url
# -------------------------------------------------
news_title = soup.find('div', class_="content_title").get_text()
news_title

'Scientists Explore Outback as Testbed for Mars '

In [5]:
# Collect News title paragraphs from url
# # -------------------------------------------------

news_p = soup.find('div', class_="article_teaser_body").get_text()
news_p

"Australia provides a great place for NASA's Mars 2020 and the ESA-Roscosmos ExoMars scientists to hone techniques in preparation for searching for signs ancient life on Mars."

## JPL Mars Space Images - Featured Image

 * Visit the url for the Featured Space Image page here.


 * Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.


 * Make sure to find the image url to the full size .jpg image.


 * Make sure to save a complete url string for this image.

In [6]:
# URL of page to be scraped
# # -------------------------------------------------
url2 = 'https://spaceimages-mars.com/'
browser.visit(url2)

soup = bs(browser.html, 'html.parser')

In [7]:
relative_image_path = soup.find_all('a')[2]["href"]

featured_image_url = url2 + relative_image_path

featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [8]:
relative_image_path

'image/featured/mars3.jpg'

In [9]:
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

## Mars Facts

 * Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.


 * Use Pandas to convert the data to a HTML table string.

In [10]:
url = 'https://galaxyfacts-mars.com/'

In [11]:
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [12]:
type(tables)

list

In [13]:
df = tables[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [14]:
df.columns = ["Info","Mars","Earth"]
df

                      Info             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [15]:
df = df.iloc[1:]
df

                 Info             Mars            Earth
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [16]:
html_table = df.to_html()
html_table
# html_table.replace('\n', '')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Info</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

 * Visit the Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.

 * You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.

 * Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.

 * Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [17]:
# URL of page to be scraped
# # -------------------------------------------------
url3 = 'https://marshemispheres.com/'
browser.visit(url3)

soup = bs(browser.html, 'html.parser')

In [18]:
title_list = []

titles = soup.find_all('h3')
titles

[<h3>Cerberus Hemisphere Enhanced</h3>,
 <h3>Schiaparelli Hemisphere Enhanced</h3>,
 <h3>Syrtis Major Hemisphere Enhanced</h3>,
 <h3>Valles Marineris Hemisphere Enhanced</h3>,
 <h3>Back</h3>]

In [19]:
for title in titles:
    title_list.append(title.text)

In [20]:
title_list

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced',
 'Back']

In [21]:
title_list = title_list[0:4]
title_list

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [25]:
url_list = []

for title in title_list:
    url3 = 'https://marshemispheres.com/'
    browser.visit(url3)
    browser.click_link_by_partial_text(title)
    html = browser.html
    soup = bs(browser.html, 'html.parser')
    image_url = soup.find_all('li')[0].a["href"]
    dictionary = {"title": title,"image_url":url3+ image_url}
    url_list.append(dictionary)

In [26]:
url_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'image_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'image_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'image_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'image_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]